.accordion {
    background-color: #e7ad99;
    color: #495867;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  .accordion:onclick+.panel {
      display: block
  }
  .accordion-menu {
    border: solid 2px #c18c5d;
  }
  .active, .accordion:hover {
    background-color: #ce796b;
  }
  .panel {
    padding: 0 18px;
    background-color: #e7ad99;
    display: none;
    overflow: hidden;
  }      

  #hotel::after, #nim::after, #ride-share::after, #grocery-store::after{
    content: '\0025cb';
    right: 1em;
    position: relative;
    font-size: 2em;
    bottom: .25em;
    float: right;
  }
  
  #hotel:hover::after, #nim:hover::after, #ride-share:hover::after, #grocery-store:hover::after {
    content: '\0025cf'
  }
  
  #hotel.clicked-accordion::after, #nim.clicked-accordion::after, #ride-share.clicked-accordion::after, #grocery-store.clicked-accordion::after{
    content: '\0025cf';
    right: 1em;
    position: relative;
    font-size: 2em;
    bottom: .25em;
    float: right;
  }
  
 /* {
    content: '\0025cb';
    right: 1em;
    position: relative;
    font-size: 2em;
    bottom: .25em;
    float: right;
  } */
  
   /* {
    content: '\0025cf'
  } */
  
  /* #nim.clicked-accordion::after {
    content: '\0025cf';
    right: 1em;
    position: relative;
    font-size: 2em;
    bottom: .25em;
    float: right;
  } */
  
  /* #ride-share::after {
    content: '\0025cb';
    right: 1em;
    position: relative;
    font-size: 2em;
    bottom: .25em;
    float: right;
  } */
  
  /* #ride-share:hover::after {
    content: '\0025cf'
  } */
  
  /* #ride-share.clicked-accordion::after {
    content: '\0025cf';
    right: 1em;
    position: relative;
    font-size: 2em;
    bottom: .25em;
    float: right;
  } */
  
  /* #grocery-store::after {
    content: '\0025cb';
    right: 1em;
    position: relative;
    font-size: 2em;
    bottom: .25em;
    float: right;
  } */
  
  /* #grocery-store:hover::after {
    content: '\0025cf'
  } */
  
  /* #grocery-store.clicked-accordion::after {
    content: '\0025cf';
    right: 1em;
    position: relative;
    font-size: 2em;
    bottom: .25em;
    float: right;
  } */
  
  iframe {
    height: 46vh;
    width: 94vw;
  }
