.container {
  display: grid;
  grid-template-rows: 150px 200px 1fr;
}
h1 {
  grid-row: 2 / 3;
  }
}
#meat {
  grid-row: 3 / 4;
}
#columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
p {
  display: inline-block;
  font-size: 3em;
}
#who {
  grid-column: 1 / 2;
}

#ada:hover {
  color: darkgreen;
}
#ada:link {
  color: black
}
#ada:visited {
  color: black
}
#jan_pic {
  display: inline-block;
  max-width: 500px;
  border-radius: 15%;
  grid-column: 2 / 3;
}
#more {
  grid-column: 3 / 4
}