
div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 5%;
  margin-bottom: 5%;
  grid-row-gap: 5em;
}

img {
  max-width: 350px;
  max-height: 350px;
}

article {
  padding-left: 5%;
  margin-bottom: 5%;
}

