/* portfolio.css */

main {
  width: 90vw;
  margin: auto;
}


/* SPLASH */

.splash {
  text-align: right;
  height: 40vh;
}

.splash h1 {
  padding: 0;
  margin-right: 0;
  padding-bottom: 3rem;
  width: 100%;
  margin-top: 20vh;
}


/* PROJECTS CONTAINER */

.projects-container {
  border: 1px solid orange;
  margin-bottom: 4rem;
}


/* PROJECTS */

article {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
}

article > * {
  border: 1px solid yellowgreen;
}


article label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

article label img {
  margin-left: auto;
}

/* "checkbox hack" info from: https://css-tricks.com/the-checkbox-hack/ */
input[type=checkbox] {
  position: absolute;
  display: none;
}

article label img {
  height: 3rem;
  float: right;
  cursor: pointer;
}

/* Default State */
input[type=checkbox]:checked + div {
  display: none;
}

/* Toggled State */
input[type=checkbox]:checked + div {
  background: visible;
}


.body-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 80% 20%;
}

.content {
  grid-column-start: 1;
  grid-column-end: 2;
}

.content > img {
  border: 1px solid pink;
  float: left;
  margin-right: 2rem;
  margin-bottom: 2rem;
  width: 20rem;
  height: 20rem;
}

article aside {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

article aside > a {
  padding-top: 1rem;
}

article aside > div {
  margin-top: 5rem;
  text-align: center;
}
