/* portfolio.css */

/* keyframes code */
@keyframes fadeIn {
  /* start at transparent */
  from { opacity: 0; }
  /* end at opaque */
  to { opacity: 1; }
}

main {
  position: relative;
  margin: 0;
}

/* source: https://www.quora.com/How-can-I-draw-a-vertical-line-in-HTML5-and-CSS */
main::before {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  right: 95%;
  margin-left: 0;

  z-index: -1;

  width: 1rem;
  border: 0.08rem solid black;
  /* background: gray; */
}

body > * {
  background-color: white;
}

main {
  width: 90vw;
  margin: auto;
}


/* SPLASH */

.splash {
  text-align: right;
  height: 20vh;
}

.splash h1 {
  padding: 0;
  margin-right: 0;
  padding-bottom: 3rem;
  width: 100%;
  margin-top: 0;
  padding-top: 10vh;
}


/* PROJECTS CONTAINER */

.projects-container {
  margin-top: 8rem;
  padding-bottom: 2rem;
}


/* PROJECTS */

article {
  margin: 5rem 0 5rem 0;
  display: flex;
  flex-direction: column;
}


article label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

article label h2::before {
  content: '';
  display: inline-block;
  border-top: 0.08rem solid black;
  border-bottom: 0.08rem solid black;
  border-right: 0.08rem solid black;
  border-radius: 0 2rem 2rem 0;
  height: 0.6rem;
  width: 4rem;
  margin-left: 0;
  margin-right: 1em;
}

article label img {
  margin-left: auto;
  height: 2.5rem;
  border: 0.08rem solid black;
  border-radius: 50%;
  float: right;
  cursor: pointer;
}

/* "checkbox hack" info from: https://css-tricks.com/the-checkbox-hack/
and Teneff's response to the thread: https://stackoverflow.com/questions/40344958/css-show-element-by-clicking-button */

input[type=checkbox] {
  position: absolute;
  display: none;
}

/* Default State */
/* transform rotate syntax from: https://www.w3schools.com/css/css3_2dtransforms.asp */
input[type=checkbox] ~ label > img {
  transition: transform 0.6s;

  /* IE 9 */
  -ms-transform: rotate(45deg);
  /* Safari prior 9.0 */
  -webkit-transform: rotate(45deg);
  /* Standard */
  transform: rotate(45deg);
}

input[type=checkbox] ~ div {
  display: none;
}

/* Toggled State */
/* transform rotate syntax from: https://www.w3schools.com/css/css3_2dtransforms.asp */
input[type=checkbox]:checked ~ label > img {
  /* IE 9 */
  -ms-transform: rotate(90deg);
  /* Safari prior 9.0 */
  -webkit-transform: rotate(90deg);
  /* Standard */
  transition: transform 0.6s;

  /* Safari */
  -webkit-transform: rotate(180deg);
  /* Standard */
  transform: rotate(180deg);
}

input[type=checkbox]:checked ~ div {
  /* 1.5s => fade in should last 1.5 seconds */
  /* ease-in => gradually transition */
  /* 0s => don't delay running the code */
  /* 1 => only run the code once */
  animation: 1.5s ease-in 0s 1 fadeIn;

  display: grid;
}


.body-container {
  margin-top: 2rem;
  margin-left: 4.5rem;
  display: grid;
  grid-template-columns: 80% 20%;
}

.content {
  grid-column-start: 1;
  grid-column-end: 2;
}

.content > img {
  float: left;
  margin-right: 2rem;
  margin-bottom: 2rem;
  width: 20rem;
  height: 20rem;
}

article aside {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

article aside > a {
  padding-top: 1rem;
}

article aside > div {
  margin-top: 5rem;
  text-align: center;
}
