#map-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#map {
  width: 70%;
  height: auto;
}

#intro {
  margin-left: 3em;
  margin-right: 3em;
}

#intro h2 {
  padding: 0.5em;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

.entry {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(488px, 1fr));
  grid-auto-rows: auto;
  padding: 0.5em;
}

.entry img {
  width: 488px;
  height: 244px;
  justify-self: center;
}

#container {
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.words {
  overflow-wrap: break-word;
  padding-left: 2em;
  padding-right: 2em;
  border-top: 1px solid #CDCDCD;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.words * {
  margin-block-start: 0;
  margin-block-end: 0;
}

.subtitle, .date {
  font-weight: lighter;
}

.subtitle {
  font-size: 1.1em;
}


