section {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
}

.blog-post {
  margin: 2%;
}

.blog-post p {
  font-size: 1.5rem;
}

.blog-post > header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}

h2 {
  margin-right: 25%;
}

img {
  max-height: 300px;
  border-radius: 50px;
  padding: 5px;
  border: #421C52 solid 2px;
}

