#hobbies {
  color: rgb(228, 22, 22);
}


div {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr .8fr;
  padding-inline-start: 5%;
  padding-inline-end: 5%;
}


div section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 1fr;
  padding-bottom: 5%;
  
}


div section h2 {
  grid-row-start: 1;
  margin: 0;
  font-size: 2.2vw;
  padding-inline-start: 5%;
  grid-column-start: 2;
}


div section p {
  padding-inline-start: 5%;
  margin: 0;
  font-size: 2vw;
  grid-row-start: 2;
  grid-column-start: 2;
  
}

section img {
  text-align: center;
  width: 100%;
  height: auto;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}
