main {
  display: grid;
  grid-template-rows: 50vh 30vh;
}

.intro {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.intro p {
  grid-column-start: 1;
  font-size: larger;
  margin: 1em;
  padding: 1em;
}

.info {
background-color: #dbd3c9;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 5px;
}

.contact-info h2 {
  padding-left: 10px;
  margin-bottom: 8px;
}

.contact-info ul {
  display: flex;
  margin-top: 0px
}

#linkedin {
  max-height: 50px;
}

#gmail {
  max-height: 30px;
  padding-top: 10px;
  padding-left: 20px;
}

#profile-pic {
  grid-column-start: 2;
  grid-row: 1 / span 2;
  max-height: 300px;
  border-radius: 25px;
  justify-self: center;
  align-self: center;
}