#home {
  color: rgb(228, 22, 22);
}

.greeting {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding-top: 3%;
  padding-inline-start: 5%; 
  padding-inline-end: 5%;
}

.greeting img {
  grid-column-start: 1;
  grid-column-end: 2;
  /* max-width: 500px;
  max-height: 500px; */
  text-align: left;
  /* border-radius: 50%; */
  width: 100%;
  height: auto;
  align-self: center;
}

.greeting p {
  text-align: left;
  grid-column-start: 2;
  grid-column-end: 3;
  padding-inline-start: 5%;
  font-size: 3vw;
  align-self: center;
}

