
body {
  background-color: #f7f7f7;
  font-family: 'Abril Fatface', cursive;
  margin: 1vw;
}

h1 {
  font-size: 4rem;
}

.heading-container, footer {
  background-color: #004c4c;
  color: #f7f7f7;
}

.heading-container p {
  font-size: 2rem;
  font-family: 'Vibes', cursive;
}

.menu {
  grid-row-start: 1;
  font-size: 1.5rem;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  color: #421C52;
}

.menu ul a:hover {
  color: #004c4c;
}

footer {
  grid-row-start: 4;
  border: #f7f7f7 1px;
}

footer p {
  padding-left: 10px;
}

