* {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
}

main {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 6fr 1fr;
}

/* navigation menu */
.fixed {
  position: fixed;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav ul li:first-child {
  padding-right: 40vw;
  font-size: 1.2em;
}

nav ul li:last-child {
  padding-right: 4em;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

a:link {
  color: white;
}

a:hover {
  color: pink;
}

/* header and footer */
.vibrant {
  background-color: #9F87AF;
  margin: 0;
  padding: 1em;
  color: white;
}

/* title */
#title {
  padding: 0 0 2em 0
}
h1 {
  font-size: 3em;
  border-bottom: solid, gray, 1px;
  padding: 1em 0 0.5em 0;
  color: #9F87AF;
  font-family: 'Mansalva', cursive;
}

#title h2{
  font-size: 1.2em;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(102, 101, 101);
  padding-bottom: 3em;
  border-bottom: gray 0.25em solid;
  margin: 0 8em 0 8em;
  border-radius: 95%;
}

/* portfolio */
.portfolio-pics {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  display: inline-block;
}

.portfolio-pics li {
  display: inline-block;
  list-style: none;
}

.portfolio-pics li img {
  margin-top: 0.8em;
  width: 46vw;
  height: 48vh;
  padding: 1em 1em 1em 1em;
}

.portfolio-pics li p {
  width: 46vw;
  padding: 1em 1em 0.5em 1em;
  text-align: center;
  color: #9F87AF;
}

.portfolio-pics li img:hover {
  background-color: rgb(255, 192, 203, 0.5);
  opacity: .5;
}

.see-more {
  background-color: #9F87AF;
  padding: 0.75em 0.75em 0.75em 0.75em;
  border-radius: 1em;
  margin: 1em 0 2em 0;
  height: 1em;
  width: 5em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* biography */
.bio-pic {
  border-radius: 50%;
  height: 50%;
  width: 50%;
  padding: 2em 0 2em 0
}

.bio-section {
  margin: 0 12em 0 12em;
  padding-bottom: 2em;
}

.bio-section p {
  padding: 1em 0 1em 0;
  line-height: 1.25;
  font-family: 'Source Sans Pro', sans-serif;
}

article h3 {
  padding: 2em 0 0em 0;
  color: #9F87AF;
}

main article p {
  font-family: 'Mansalva', cursive;
  padding: 1em 10em 2em 10em;
}

footer {
  text-align: left;
  font-size: 0.9em;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer ul li img:hover {
  background-color: pink;
  border-radius: 99%;
}

footer ul li:first-child {
  padding-right: 50vw;
}
